<div class="login-page" ng-controller="appCtrl">

    <div class="logo-div" align="center">
        <img class="logo-masta" ng-src="img/whaleLogo.png">
    </div>

    <div class="username" align="center">
        <input ng-model="username" placeholder="Username" class="login-input input-sm"/>
    </div>
    <div class="password" align="center">
        <input type="password" ng-model="password" placeholder="password" class="login-input input-sm"/>
    </div>
    <div class="login-btn-div" align="center">
        <!--<button ng-click="login(username, password)" class="login-btn btn btn-info">Login</button>-->
        <button ng-click="go('/main')" class="login-btn btn btn-info">Login</button>
    </div>

    <div class="bottom">
        <img class="logo-icon" ng-src="img/spotify_icon.png">
        <img class="logo-icon" ng-src="img/soundcloud_icon.png">
        <img class="logo-icon" ng-src="img/hypemachine.jpg">
        <img class="logo-icon" ng-src="img/8tracks_icon.png">
    </div>
</div>