<div ng-controller="appCtrl">
    <div class="app-content">
        <div class="header-div">
            <div class="service-name">
                <p class="header-text">{{service}}</p>
            </div>
            <div class="header-tabs">
                <ul class="nav nav-tabs">
                    <li class="head-tabs active"><a href="#main">Browse</a></li>
                    <li class="head-tabs"><a href="#main">Playlist</a></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="input-group search-div">
                <span class="input-group-btn">
                    <button class="btn btn-default search-btn" type="button" ng-click="search()">
                        <img ng-src="img/search.png" class="search">
                    </button>
                </span>
                <input type="text" class="form-control search-bar" ng-model="query">
            </div>
            <!-- /input-group -->
        </div>
        <div class="main-content" ng-show="loaded">

            <p class="content-title">Tracks</p>
            <ul class="display info-container">
                <li class="content-info" ng-repeat="item in data.tracks track by $index" ng-show="loaded">
                    <div class="track-listing">
                        <label class="track-info" ng-click="openSong($index)">{{item.name}}</label>
                        <label class="track-info float-right">{{item.artists[0].name}}</label>
                        <div class="duration-block">
                            <label class="track-info">{{getDuration(item.duration_ms)}}</label>
                        </div>
                    </div>
                </li>
            </ul>

            <p class="content-title">Artists</p>
            <ul class="display info-container">
                <li class="content-info" ng-repeat="item in data.artists track by $index" ng-show="loaded">
                    <div class="artist-listing">
                        <div class="process-img">
                            <img ng-src='{{item.images[0].url}}' />
                        </div>
                        <label class="artist-info">{{item.name}}</label>
                        <!--<div>
                            <label class="artist-info">{{item.popularity}}</label>
                        </div>-->
                    </div>
                </li>
            </ul>

            <p class="content-title">Albums</p>
            <ul class="display info-container">
                <li class="content-info" ng-repeat="item in data.albums track by $index" ng-show="loaded">
                    <div class="album-listing">
                        <div class="process-img">
                            <img ng-src="{{item.images[0].url}}" ng-click="openAlbum($index)"/>
                        </div>
                        <label class="album-info">{{item.name}}</label>
                    </div>
                </li>
            </ul>
        </div>
    </div>

            <div class="bottom">
                <img class="logo-icon" ng-src="img/spotify_icon.png">
                <img class="logo-icon" ng-src="img/soundcloud_icon.png">
                <img class="logo-icon" ng-src="img/hypemachine.jpg">
                <img class="logo-icon" ng-src="img/8tracks_icon.png">
                <button ng-click="go('/login')" class="btn btn-info">back</button>
            </div>
</div>