/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
    /* Styles */
}


body.main{
    background-image: url('../img/starry.jpg');
    width:100%;
    height:100%;
}

.menu{
    font-size: 24px;
}

/* Login Page*/

.logo-div{
    margin-top: 20%;
}

.logo-masta{
    height:120px;
}

.username{
    padding: 5%;
}

.password{
    padding:5%;
}

.login-btn{
    width:45%;
    border-radius: 0px !important;
}

.login-input{
    width:70%;
    text-align:center;
    color: #ffA500;
    background-color: transparent;
    font-weight: bold;
    font-size:18px !important;
}

.logo-icon{
    width:20px;
    height:20px;
}

/* End Login Page */

/* Main page? */

.header-text{
    color:lightblue;
    font-size: 20px;
    font-weight: bold;
}

.service-name{
    margin-left: 3%;
}

.header-tabs{
    margin-left: 25%;
}

.head-tabs{
    background-color: lightblue;
    border-radius: 4px;
    margin-left: 1px;
}

/* Active Tab*/
.head-tabs .active{
    background-color: #ffA500 !important;
}

.header-div{
    border-bottom: 2px lightblue solid;
    margin-top: 1%;
    display: flex;
}

.search-bar{
    background-color: transparent !important;
    color: #ffA500 !important;
    font-weight: bold !important;
}

.search-btn{
  background-color: transparent !important;
}

.search-div{
    margin-top: 2%;
}

.content-title{
    color: #ffA500;
    font-weight: bold;
    border-bottom: lightblue 3px solid;
    border-top: lightblue 3px solid;
    margin-top: 4%;
    text-align: center;
}

.process-img{
    width:120px;
    height:120px;
    border-radius: 70px;
    overflow: hidden;
}

.process-img img{
    width:400px;
    height:300px;
    margin:-75px 0 0 -150px;
}


div.track-listing{

}

div.album-listing{

}

.duration-block{

}

.float-right{
    float:right;
    margin-right: 3%;
}

.track-info{
    color:white;
    margin-left:3%;
}

.artist-info{
    color:#ffffff;
    margin-left: 3%;
}

.album-info{
    color:white;
    margin-left: 3%;
}

ul.info-container{
    margin-right:3%;
    margin-left: -7%;
}

li.content-info{
    background: rgba(255, 255, 255, 0.2);
    border: 1px black solid;
    margin-bottom: 2%;
}

div.artist-listing{
    display:flex;
}

a.white-font{
    color: #000000;
}

li.link{
    margin-top: 2%;
}

textarea.result{
    height:400px;
    width:700px;
}

.app-content{
    height: 100%;
    width: 100%;
    overflow-y:scroll;
    border: 1px solid #000000;
}

.main-content{
    height:500px;
    overflow-y:scroll;
    margin-top:3%;
}

.col_one{
    margin-top: 20%;
}

.bottom{
    position: fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    background-image: -webkit-gradient(linear,
    left top,
    left bottom,
    from(rgba(80, 80, 80, 0.1)),
    to(rgba(30, 30, 30, 0.7)),
    color-stop(.1, #333333));
}

img.search{
    width:10px;
    height:10px;
}

p.footer-txt{
    color:#ffffff;
    font-size: 11px;
    font-style: italic;
    text-align: center;
}

/* End Main */