/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
    /* Styles */
}


body.main{
    background-image: url('../img/starry.jpg');
    width:100%;
    height:100%;
}

.menu{
    font-size: 24px;
}

/* Login Page*/

.logo-div{
    margin-top: 20%;
}

.logo-masta{
    height:120px;
}

.username{
    padding: 5%;
}

.password{
    padding:5%;
}

.login-btn-div{
    margin-top:35%;
}

.login-btn{
    width:45%;
    border-radius: 0px !important;
}

.login-inputs-container{
    width: 75%;
    margin-bottom: 10%;
}

.login-group{
    margin-bottom: 2%;
}

.login-input{
    width:70%;
    text-align:center;
    color: #ffA500 !important;
    background-color: transparent;
    font-weight: bold;
    font-size:18px !important;
}

.logo-icon{
    width:20px;
    height:20px;
}

.inner-addon{
    position:relative;
}

.inner-addon .glyphicon{
    position:absolute;
    padding: 10px;
    pointer-events:none;
}

.left-addon .glyphicon{
    left:0px;
}

.left-addon input{
    padding-left: 10%;
}

/* End Login Page */

/* Main page? */

.header-text{
    color:lightblue;
    font-size: 20px;
    font-weight: bold;
}

.service-name{
    margin-left: 3%;
}

.header-tabs{
    margin-left: 25%;
}

.head-tabs{
    background-color: lightblue;
    border-radius: 4px;
    margin-left: 1px;
}

/* Active Tab*/
.head-tabs .active{
    background-color: #ffA500 !important;
}

.header-div{
    border-bottom: 2px lightblue solid;
    margin-top: 1%;
    display: flex;
}

.search-bar{
    background-color: transparent !important;
    color: #ffA500 !important;
    font-weight: bold !important;
}

.search-btn{
  background-color: transparent !important;
}

.search-div{
    margin-top: 2%;
}

.content-title{
    color: #ffA500;
    font-weight: bold;
    border-bottom: lightblue 3px solid;
    border-top: lightblue 3px solid;
    margin-top: 4%;
    text-align: center;
}

.process-img{
    width:120px;
    height:120px;
    border-radius: 70px;
    overflow: hidden;
}

.process-img img{
    width:400px;
    height:300px;
    margin:-75px 0 0 -150px;
}


div.track-listing{

}

div.album-listing{

}

.duration-block{

}

.float-right{
    float:right;
    margin-right: 3%;
}

.track-info{
    color:white;
    margin-left:3%;
}

.artist-info{
    color:#ffffff;
    margin-left: 3%;
}

.album-info{
    color:white;
    margin-left: 3%;
}

ul.info-container{
    margin-right:3%;
    margin-left: -7%;
}

.content-info{
    background: rgba(255, 255, 255, 0.2);
    border: 1px black solid;
    margin-bottom: 2%;
}

div.artist-listing{
    display:flex;
}

a.white-font{
    color: #000000;
}

li.link{
    margin-top: 2%;
}

textarea.result{
    height:400px;
    width:700px;
}

.app-content{
    height: 100%;
    width: 100%;
    overflow-y:scroll;
    border: 1px solid #000000;
}

.main-content{
    height:500px;
    overflow-y:scroll;
    margin-top:3%;
}

.col_one{
    margin-top: 20%;
}

.bottom{
    position: fixed;
    left:0px;
    bottom:0px;
    height:5%;
    width:100%;
    background-image: -webkit-gradient(linear,
    left top,
    left bottom,
    from(rgba(80, 80, 80, 0.1)),
    to(rgba(30, 30, 30, 0.7)),
    color-stop(.1, #333333));
}

img.search{
    width:10px;
    height:10px;
}

p.footer-txt{
    color:#ffffff;
    font-size: 11px;
    font-style: italic;
    text-align: center;
}

.app-font{
    color: #ffA500;
    font-weight: bold;
    font-size: 18px;
}

/* End Main */

/* Profile Page Begin */

.profile-title{
    margin-top:10%;
    margin-bottom:5%;
}

.profile-display{
    overflow: scroll;
    height: 450px;
}

.user-label{
    display:block;
    text-align: center;
    font-size: 14px;
}

.profile-img{
    width: 130px;
    height:130px;
    border-radius: 65px;
    border:2px solid white;
    overflow: hidden;
    margin-left:32%;
}

.profile-img img{
    height:100%;
    max-width: 100%;
    max-height: 100%;
    margin:auto;
    display: block;
}

/* Profile Page End */

/*Menu Css */

header.menu{
    position:fixed;
    z-index: 9999;
    top:0%;
    height:35px;
    width:100%;
    background-image: -webkit-gradient(linear,
    left top,
    left bottom,
    from(rgba(80, 80, 80, 0.1)),
    to(rgba(30, 30, 30, 0.7)),
    color-stop(.1, #333333));
}

.menu-ul{
    width:100%;
    list-style-type: none;
    padding: 5px;
}

.menu-li{
    padding-top: 3%;
}

.menu-top{
    float:left;
    width:100%;
}

.menu-content{
    width:45%;
}

.menu-btn{
    background-color: rgba(0, 0, 0, 1) !important;
    color: #ffA500 !important;
    width:100%;
}

.animate-show {
    line-height:20px;
    border:1px solid black;
    background:rgba(0, 0, 0, 0.8);
}

.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove.ng-hide-remove-active {
    -webkit-transition:all linear 0.5s;
    transition:all linear 0.5s;
}

.animate-show.ng-hide {
    line-height:0;
    opacity:0;
    padding:0 10px;
}
/*End Menu CSS */

/* Audio Player? */

.small-player{
    position: fixed;
    left:0%;
    bottom: 5%;
    height:15%;
    width: 100%;
    background-color: dimgray;
}

.audio-control-container-sm{
    height: 60%;
    width:77%;
    margin: 1% 0 0 25% !important;
}

.audio-control-container-lg{

}

.prev-next-btn{
    border-radius: 50% !important;
    height:75%;
}

.play-pause-btn{
    border-radius: 50% !important;
    height:100%;
    width:20%;
}

.track-image{
    max-height:100%;
    width:100%;
}

.track-image-sm{
    max-height:100%;
    width:24%;
    margin-left: 18%;
}

.paused .play-text,
.pause-text {
    display:inline-block;
}
.play-text,
.paused .pause-text {
    display:none;
}

.like-btn{

}

.liked .like-txt,
.liked-txt{
    display:inline-block;
}

.like-txt,
.liked .liked-txt{
    display: none;
}

.audio-player * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}



.time-text{
    font-size: 12px;
    color:#ffA500;
}

/* End Audio Player */

/* Popup CSS */

.cisum-popup{
    background: whitesmoke;
    border: 3px black solid;
    margin-top: 35% !important;
    opacity: 0.94;
}

.popup-icon{
    width: 45px;
    height:45px;
}

.popup-input{
    z-index:1052 !important;
}

/* End Popup CSS */

/*Playlist Info CSS */

.name h1{
    color:lightblue;
    padding-left: 2%;
}

.name h5{
    color:lightblue;
    padding-left: 10%;
}

.track-name h1{
    color:#ffA500;
    padding-left: 2%;
}

.track-name h5{
    color:#ffA500;
    padding-left: 10%;
}

.track-count{
    width:8%;
    margin-left: 88%;
    border: 1px solid darkgray;
    border-radius: 50%
    margin-bottom:2%;
}

.track-count label{
    color:darkgray;
    padding: 10% 14% 0%;
}
/* Playlist Info END*/

