<div class="audio-player">

    <div class="large-player">

        <div class="form-group">
            <button ng-disabled="true" class="btn btn-default prev" ng-click="">
                <i class="glyphicon glyphicon-step-backward"></i>Prev
            </button>
            <button class="btn btn-default playpause" ng-click="playpause()" ng-class="{paused:songpaused}">
                <span class="play-text"><i class="glyphicon glyphicon-play"></i> Play </span>
                <span class="pause-text"><i class="glyphicon glyphicon-pause"></i> Pause </span>
            </button>
            <button ng-disabled="true" class="btn btn-default" ng-click="">
                Next
                <i class="glyphicon glyphicon-step-forward"></i>
            </button>
        </div>
        <!--<div class="form-group time">
            <label>{{audioPosition}}</label>
        </div>-->
        <div class="now-playing">
            <p>
                <img class="track-image" ng-src="{{music.tracks[music.currentTrack].image}}"/>
            </p>
            <div class="track-name">
                <h1>{{music.tracks[music.currentTrack].name}}</h1>
                <h5>{{music.tracks[music.currentTrack].source.description}}</h5>
            </div>
        </div>
    </div>
</div>