<div class="bottom">
    <!--<img class="logo-icon" ng-src="img/spotify_icon.png">
    <img class="logo-icon" ng-src="img/soundcloud_icon.png">
    <img class="logo-icon" ng-src="img/hypemachine.jpg">
    <img class="logo-icon" ng-src="img/8tracks_icon.png">-->
</div>