<div class="menu-top">
    <div class="clearfix">
        <button class="btn btn-default animate-show" ng-click="open()">
            <i class="glyphicon glyphicon-cog"></i>
        </button>
        <label ng-model="title" class="app-font">{{title}}</label>
    </div>
    <div class="menu-opened animate-show menu-content" ng-show="opened">
        <ul class="menu-ul">
            <li class="menu-li">
                <button class="btn btn-default menu-btn" ng-click="services()">Accounts</button>
            </li>
            <li class="menu-li">
                <button class="btn btn-default menu-btn" ng-disabled="available.logged" ng-click="profile()">
                    Profile
                </button>
            </li>
            <li class="menu-li">
                <button class="btn btn-default menu-btn" ng-disabled="available.logged">Starred</button>
            </li>
            <li class="menu-li">
                <button class="btn btn-default menu-btn" ng-disabled="available.logged">Playlist</button>
            </li>
            <li class="menu-li">
                <button class="btn btn-default menu-btn" ng-disabled="available.logged">Radio</button>
            </li>
            <li class="menu-li">
                <button class="btn btn-default menu-btn" ng-disabled="available.logged">Recent</button>
            </li>
            <li class="menu-li">
                <button class="btn btn-default menu-btn" ng-disabled="available.logged">Recommendations</button>
            </li>
            <li class="menu-li">
                <button class="btn btn-default menu-btn" ng-disabled="available.logged">Popular</button>
            </li>
        </ul>
    </div>
</div>