<div class="content-info">
    <div class="name">
        <h1>{{playlist.name}}</h1>
        <h5>{{playlist.owner.id}}</h5>
    </div>
    <div class="track-count">
        <label>{{playlist.tracks.total}}</label>
    </div>
</div>