<div class="modal-header">
    <h3 class="app-font">{{$parent.modalOptions.title}}</h3>
</div>
<div class="modal-body">
    <div class="input-group popup-input">
        <span class="input-group-addon glyphicon glyphicon-user"></span>
        <input type="text" class="form-control" placeholder="Username" ng-model="modalOptions.input.username">
    </div>
    <div class="input-group">
        <span class="input-group-addon glyphicon glyphicon-info-sign"></span>
        <input type="password" class="form-control" placeholder="Password" ng-model="modalOptions.input.password">
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-info" ng-show="$parent.modalOptions.closeButtonAvailable"
            ng-click="$parent.modalOptions.close()">{{$parent.modalOptions.closeButtonText}}
    </button>
    <button class="btn btn-info" ng-click="$parent.modalOptions.ok()">{{$parent.modalOptions.okButtonText}}</button>
</div>