<div class="audio-player">

    <div class="large-player" ng-show="audioPlayer.largePlayer">
        <div class="form-group audio-control-container-lg">
            <button ng-disabled="audioPlayer.hasPrevious()" class="btn btn-default prev-next-btn" ng-click="audioPlayer.previous()">
                <i class="glyphicon glyphicon-step-backward"></i>
            </button>
            <button class="btn btn-default play-pause-btn" ng-click="audioPlayer.playpause()" ng-class="{paused:audioPlayer.songpaused}">
                <span class="play-text"><i class="glyphicon glyphicon-play"></i></span>
                <span class="pause-text"><i class="glyphicon glyphicon-pause"></i></span>
            </button>
            <button ng-disabled="audioPlayer.hasNext()" class="btn btn-default prev-next-btn" ng-click="audioPlayer.next()">
                <i class="glyphicon glyphicon-step-forward"></i>
            </button>
        </div>
        <div class="form-group time">
            <label class="time-text">
                {{audioPlayer.current.position}}
            </label>

            <button class="btn btn-info like-btn" ng-click="audioPlayer.favorite()" ng-class="{liked:!audioPlayer.current.liked}">
                <span class="like-txt"><i class="glyphicon glyphicon-heart-empty"></i></span>
                <span class="liked-txt"><i class="glyphicon glyphicon-heart"></i></span>
            </button>
        </div>
        <div class="now-playing" ng-swipe-right="audioPlayer.previous()" ng-swipe-left="audioPlayer.next()">
            <p>
                <img class="track-image" ng-src="{{audioPlayer.current.image}}"/>
            </p>
            <div class="track-name">
                <h1 ng-model="audioPlayer.current.name">{{audioPlayer.current.name}}</h1>
                <h5 ng-model="audioPlayer.current.description">{{audioPlayer.current.description}}</h5>
            </div>
        </div>
    </div>

    <div class="small-player" ng-show="!audioPlayer.largePlayer">
        <div class="form-group audio-control-container-sm">
            <button ng-disabled="audioPlayer.hasPrevious()" class="btn btn-default prev-next-btn" ng-click="audioPlayer.previous()">
                <i class="glyphicon glyphicon-step-backward"></i>
            </button>
            <button class="btn btn-default play-pause-btn" ng-click="audioPlayer.playpause()" ng-class="{paused:audioPlayer.songpaused}">
                <span class="play-text"><i class="glyphicon glyphicon-play"></i></span>
                <span class="pause-text"><i class="glyphicon glyphicon-pause"></i></span>
            </button>
            <button ng-disabled="audioPlayer.hasNext()" class="btn btn-default prev-next-btn" ng-click="audioPlayer.next()">
                <i class="glyphicon glyphicon-step-forward"></i>
            </button>
            <img class="track-image-sm" ng-src="{{audioPlayer.current.image}}" ng-click="audioPlayer.goToAudioPlayer()"/>
        </div>
        <div class="form-group time">
            <label class="time-text" ng-model="audioPlayer.current.name"></label>
            <label class="time-text" ng-model="audioPlayer.current.position"></label>
        </div>
    </div>
</div>