<div class="bottom">
    <button ng-show="footer.available" class="btn" ng-click="footer.goBack()"><i class="glyphicon glyphicon-arrow-left"></i></button>
    <!--<img class="logo-icon" ng-src="img/spotify_icon.png">
    <img class="logo-icon" ng-src="img/soundcloud_icon.png">
    <img class="logo-icon" ng-src="img/hypemachine.jpg">
    <img class="logo-icon" ng-src="img/8tracks_icon.png">-->
</div>