<div class="menu-top">
    <div class="clearfix">
        <button class="btn btn-default animate-show" ng-click="menu.open()">
            <i class="glyphicon glyphicon-cog"></i>
        </button>
        <label ng-model="title" class="app-font">{{menu.title}}</label>
    </div>
    <div class="menu-opened animate-show menu-content" ng-show="menu.opened">
        <ul class="menu-ul">
            <li class="menu-li">
                <button class="btn btn-default menu-btn" ng-click="menu.services()">Accounts</button>
            </li>
            <li class="menu-li">
                <button class="btn btn-default menu-btn" ng-disabled="!menu.available" ng-click="menu.profile()">
                    Profile
                </button>
            </li>
            <li class="menu-li">
                <button class="btn btn-default menu-btn" ng-disabled="!menu.available" ng-click="menu.search()">
                    Search
                </button>
            </li>
            <li class="menu-li">
                <button class="btn btn-default menu-btn" ng-disabled="!menu.available">Starred</button>
            </li>
            <li class="menu-li">
                <button class="btn btn-default menu-btn" ng-disabled="!menu.available">Playlist</button>
            </li>
            <li class="menu-li">
                <button class="btn btn-default menu-btn" ng-disabled="!menu.available">Radio</button>
            </li>
            <li class="menu-li">
                <button class="btn btn-default menu-btn" ng-disabled="!menu.available">Recent</button>
            </li>
            <li class="menu-li">
                <button class="btn btn-default menu-btn" ng-disabled="!menu.available">Recommendations</button>
            </li>
            <li class="menu-li">
                <button class="btn btn-default menu-btn" ng-disabled="!menu.available">Popular</button>
            </li>
        </ul>
    </div>
</div>