<header>
    <menu></menu>
</header>
<div>
    <h2>{{title}}</h2>
    <p>Placeholder</p>

    <ul class="display info-container">
        <li ng-repeat="track in content.tracks.items track by $index" ng-show="loaded">
            <playlist-track track="track.track"></playlist-track>
        </li>
    </ul>

    <button class="btn btn-info" ng-click="goBack()">Back</button>
    <footer/>
</div>
