<header class="menu">
    <menu></menu>
</header>
<div class="profile-page">
    <div class="profile-title">
        <div class="profile-img">
            <img ng-src="{{profilePage.values.userProfile.image}}"/>
        </div>

        <div class="user-info">
            <label class="app-font user-label">{{profilePage.values.userProfile.name}}</label>
            <label class="app-font user-label">{{profilePage.values.userProfile.email}}</label>
        </div>
    </div>

    <div class="profile-display">
        <ul class="display info-container" ng-show="profilePage.id=='spotify' && profilePage.loaded">
            <li ng-repeat="playlist in profilePage.values.displayInfo.info.playlist track by $index" ng-click="openTracks($index)">
                <playlist-info playlist="playlist"></playlist-info>
            </li>
        </ul>

        <ul class="display info-container" ng-show="profilePage.id=='soundcloud' && profilePage.loaded">
            <li ng-repeat="track in profilePage.values.displayInfo.info.tracks track by $index" ng-click="profilePage.playSong($index)">
                <playlist-track track="track"></playlist-track>
            </li>
        </ul>
    </div>

    <div ng-show="applicationScope.musicPlaying">
        <audio-view></audio-view>
    </div>
    <footer/>
</div>