<header>
    <menu></menu>
</header>
<div>
    <div class="input-group search-div">
                <span class="input-group-btn">
                    <button class="btn btn-default search-btn" type="button" ng-click="searchPage.search()">
                        <img ng-src="img/search.png" class="search">
                    </button>
                </span>
        <input type="text" class="form-control search-bar" ng-model="searchPage.pageValues.query">
    </div>

    <div class="main-content" ng-show="searchPage.pageValues.loaded && searchPage.id=='soundcloud'">
        <ul class="display info-container">
            <li ng-repeat="track in searchPage.pageValues.results.tracks track by $index" ng-click="searchPage.playSong($index)">
                <playlist-track track="track"></playlist-track>
            </li>
        </ul>
    </div>

    <div ng-show="searchPage.playerVisible">
        <audio-view></audio-view>
    </div>
    <footer/>
</div>