<div class="modal-header">
    <h3 class="app-font">{{$parent.modalOptions.title}}</h3>
</div>
<div class="modal-body">
    <p class="app-font">{{$parent.modalOptions.message}}</p>
</div>
<div class="modal-footer">
    <button class="btn btn-info" ng-show="$parent.modalOptions.closeButtonAvailable"
            ng-click="$parent.modalOptions.close()">{{$parent.modalOptions.closeButtonText}}
    </button>
    <button class="btn btn-info" ng-click="$parent.modalOptions.ok()">{{$parent.modalOptions.okButtonText}}</button>
</div>
