<div class="modal-header">
    <h3 class="app-font">{{$parent.modalOptions.title}}</h3>
</div>
<div class="modal-body">
    <img class="popup-icon" ng-src="img/spotify_icon.png" ng-click="$parent.modalOptions.ok(1)">
    <img class="popup-icon" ng-src="img/soundcloud_icon.png" ng-click="$parent.modalOptions.ok(2)">
    <img class="popup-icon" ng-src="img/hypemachine.jpg" ng-click="$parent.modalOptions.ok(3)">
    <img class="popup-icon" ng-src="img/8tracks_icon.png" ng-click="$parent.modalOptions.ok(4)">
</div>
<div class="modal-footer">
    <button class="btn btn-info" ng-show="$parent.modalOptions.closeButtonAvailable"
            ng-click="$parent.modalOptions.ok(0)">{{$parent.modalOptions.closeButtonText}}
    </button>
</div>
