<header class="menu">
    <menu></menu>
</header>
<div class="login-page">

    <div class="logo-div" align="center">
        <img class="logo-masta" ng-src="img/icon.png">
    </div>

    <div class="login-btn-div" align="center">
        <button ng-click="login()" class="login-btn btn btn-info">Login</button>
    </div>

    <footer/>
</div>