<header class="menu">
    <menu></menu>
</header>
<div class="profile-page">
    <div class="profile-title">
        <div class="profile-img">
            <img ng-src="{{userProfile.image}}"/>
        </div>

        <div class="user-info">
            <label class="app-font user-label">{{userProfile.name}}</label>
            <label class="app-font user-label">{{userProfile.email}}</label>
        </div>
    </div>

    <div class="profile-display">
        <ul class="display info-container" ng-show="id=='spotify' && loaded">
            <li ng-repeat="playlist in displayInfo.info.playlist track by $index" ng-click="openTracks($index)">
                <playlist-info playlist="playlist"></playlist-info>
            </li>
        </ul>

        <ul class="display info-container" ng-show="id=='soundcloud' && loaded">
            <li ng-repeat="track in displayInfo.info.tracks track by $index" ng-click="playSong($index)">
                <playlist-track track="track"></playlist-track>
            </li>
        </ul>
    </div>

    <footer/>
</div>